body {
    font-size: 16px;
    padding: 20px;
}


article {
    border: 1px solid #e7e7e7;
}

/*
    Pilko teksto spalva
    #666;

    Bloko viršutinio border ir h1 spalva:
    #0974b3

*/
