

* {
 border-radius: 3%;
 border: 5px solid;
 margin: 2px;
}

html, * p {
  border: none;
}

body {
  border: 10px solid gainsboro;

}

header {
  border-color: #05d405;
}

nav {
    border-color: #9505d4;
}

article {
  display: inline-block;
  width: 62%;
  height: 96%;
  position: relative;
  border-color: #0581d4;
}

aside {
  display: inline-block;
  float: right;
  width: 33%;
  height: 96%;
  border-color: #FF9800;
}

footer {
  bottom: -10px;
  border-color: yellow;
}

main {
  height: 350px;
  border: none;
}

.articleHeader {
    border-color: #05d405;
}

.articleMain {
    border: none;
    margin: 0;
    position: absolute;
    bottom: 36px;
    width: 100%;
}

.articleSection {
  border-color: #c101c1;
}

.articleFooter {
  position: absolute;
  bottom: 0px;
  width: 95%;
}

.assideContent {
    border-color: #00BCD4;
    height: 43%;
}
