body {
  background: linear-gradient(-90deg, rgb(156, 94, 197), rgb(84, 40, 245));
}

/* * {
  border: 1px dashed grey;
} */

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px;
  width: 700px;
  margin: auto;
}

.box {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  background: rgba(255, 255, 255, 0.2)
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 90px;
  border-radius: 6px;
  background-color: yellow;
  padding: 6px;
}

.name {
  font-size: larger;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
}

.price {
  font-size: xx-large;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.box p {
  /* border-top-style: solid;
  border-top-color: yellow;
  border-top-width: thin; */
  width: 124px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn p {
  margin: 0px;
  width: auto;
}

.name, .price, .btn p {
  border-top-color: transparent;
}
